<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhangflg.shop.repository.ArticleMapper">

    <sql id="pageWhere">
        <where>
            <if test="typeCode!=null&amp;&amp;typeCode!=''">
                AND type_code like CONCAT("",#{typeCode},"%")
            </if>

            <if test="secondType!=null&amp;&amp;secondType!=''">
                AND type_code = #{secondType}
            </if>

            <if test="title!=null&amp;&amp;title!=''">
                AND title LIKE CONCAT("%",#{title},"%")
            </if>
        </where>
    </sql>
    <select id="searchArticles" resultType="Article">
        SELECT * FROM ec_article
        <include refid="pageWhere"></include>
        limit #{pager.firstParam},#{pager.pageSize}
    </select>

    <select id="count" resultType="int">
        SELECT count(*) FROM ec_article
        <include refid="pageWhere"></include>
    </select>
</mapper>